body {
    font-family: 'Arial', sans-serif;
    background-color: #e3f2fd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0277bd;
}

.feedback {
    margin-top: 20px;
    font-size: 14px;
    color: #d32f2f;
}

input {
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0288d1;
}

.feedback span {
    display: block;
    margin: 5px 0;
}

.feedback span.green {
    color: #388e3c;
}

.feedback span.red {
    color: #d32f2f;
}